doctype html
html
  head
    title coah
    link(rel='stylesheet', href='/css/style.css')

  body
    h1 chat sample

    input#input(type='text')
    button#send send

    ul#chats

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/script.js')
